<nav class="navigation">
	<ul class="nav-list">
		<li class="{% if page.url == '/' %} current_path current{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
		<li class='{% if page.url == "/pages/setup.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/setup.html">Hardware Setup</a></li>
		<li class='{% if page.url == "/pages/container.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/container.html">Figure 3</a></li>
		<li class='{% if page.url == "/pages/container.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/container.html">Figure 4</a></li>
		<li class='{% if page.url == "/pages/worst-case.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/worst-case.html">Figure 5</a></li>
		<li class='{% if page.url == "/pages/container.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/container.html">Figure 6</a></li>
		<li class='{% if page.url == "/pages/container.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/container.html">Figure 7</a></li>
		<li class='{% if page.url == "/pages/vm.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/vm.html">Figure 8</a></li>
		<li class='{% if page.url == "/pages/bare-metal.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/bare-metal.html">Figure 9</a></li>
		<li class='{% if page.url == "/pages/user.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/user.html">Figure 10</a></li>
		<li class='{% if page.url == "/pages/table_evt.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/table_evt.html">Table II</a></li>
		<li class='{% if page.url == "/pages/table_details.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/table_details.html">Table III</a></li>
	</ul>
</nav>
